.FileTile {
  border: 1px solid black;
  border-radius: 4px; 
  padding: 20px;
  
  &-actions {
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
  }

  &-delete {
    background: #5741d9;
    border: none;
    font-size: 18px;
    color: #fff;
    padding: 5px 20px;
  }

  &-error {
    color: red;
  }
}