@import '~assets/css/base';

.Upload {
  background: #5741d9;
  border: none;
  font-size: 16px;
  color: #fff;
  padding: 6px 20px;

  &-name {
    display: block;
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 16px;
  }

  &-container {
    display: flex;
  }

  &-error {
    color: red;
  }

  &-input {
    display: none;
  }
}