@import '~assets/css/base.scss';

.Header {
  align-items: center;
  display: flex;
  flex-flow: column;
  padding: 0 20px;
  margin: 40px auto 0 auto;
  max-width: 960px;

  @include when-wider-than(md) {
    justify-content: space-between;
    flex-flow: row;
  }
}