@import '~assets/css/base.scss';

.Search {
  margin-bottom: 20px;
  max-width: 350px;
  width: 100%;

  @include when-wider-than(md) {
    margin-bottom: 0;
  }

  &-input {
    border: 1px solid #5741d9;
    font-size: 16px;
    padding: 5px 10px;
    width: 100%;
  }
}