.FileGrid {
  max-width: 960px;
  padding: 0 20px;
  margin: 0 auto;

  &-header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
  }

  &-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 20px;
    margin-top: 20px;
  }
}